<ul class="sounds">
<%- @sounds.each do |sound| %>
  <li class="sound"><%= form_for sound, :url => play_sound_path(sound), :method => :post do |f| %><button type="submit"><%= sound.title %></button><% end %></li>
<%- end -%>
</ul>